# Autodetect text files
* text=auto

# Overrides

## Text files
*.md text
*.py text eol=lf diff=python
*.j2 text eol=lf
*.css text eol=lf diff=css
*.html text eol=lf diff=html
*.js text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf

## Binary
*.jpg binary
*.jpeg binary
*.png binary
*.svg binary
*.icon binary
