<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <table>
      {% for row in board.rows %}
        <tr>
          {% for col in board.cols %}
            {% set tile = board.get_tile_piece(row+col) %}
            <td style="background-color: red">{{ tile.get_piece }}</td>
            <!--TODO add superscript of square coords ("a1", "d6" ect)-->
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
