<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- TODO this -->
    <!-- <table>
      {% for row in rows %}
        <tr>
          {% for square in row %}
            <td class="board_locale">{{square.contents}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table> -->
    <span>{{ content }}</span>
  </body>
</html>
